<h1>Diário de Estudos</h1>

<%= link_to 'Novo item de estudo', new_study_item_path %>

<% @study_items.each do |study_item| %>

    <p><%= study_item.title %></p>
    <p><%= study_item.category %></p>
    <p><%= study_item.description %></p>

<% end %> 